{% extends 'base.html' %}
{% block content%}

{% load static %}
<style>
    body{
        background-color: #e9e5e5;
    }
     .container{
      padding-top: 24px;
      font-family: 'Montserrat', sans-serif;
      max-width:2000px;
      padding:10px 3rem;
      text-align: -webkit-auto;
    }
    h5
    {
    text-align:center;
    }
</style>
<title>Event</title>

<div class="container mb-5">
    <div class="mx-auto mt-3" style="width: 130px;">
        <h1><b>Event</b></h1>
    </div>
    <div class="mx-auto mt-5" style="width: 245px;">
        <h3>Date : {{date}}</h3>
    </div>
{% if mfind %}
    <div class="container p-5 mt-3" style="background-color:#eceff1; border-radius: 25px;">
        <h2>Search Result</h2>
        <table class="table table-bordered table-hover table-responsive" border="1" cellpadding="5px" id="Table">
                <thead class="thead-dark">
                <tr>
                    {% for m in mfind|slice:":1" %}
                    <th scope="col">ID</th>
                    <th scope="col">Regulator</th>
                    <th scope="col">Financial Year</th>
                    <th scope="col">Assessment Year</th>
                    <th scope="col">Date_of_Entry</th>
                    <th scope="col">Form Return</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Type of Tax Payer</th>
                    <th scope="col">Actual_Due Date</th>
                    <th scope="col">Latest_Due Date</th>
                    <th scope="col">Description</th>
                    {% if m.due_date_1 != null and m.due_date_1 != "NULL" %}
                    <th scope="col">Due_Date_1</th>
                    <th scope="col">Due Date 1 Remarks</th>
                    {% endif %}
                    {% if m.due_date_2 != null and m.due_date_2 != "null"  %}
                    <th scope="col">Due_Date_2</th>
                    <th scope="col">Due Date 2 Remarks</th>
                    {% endif %}
                    {% if m.due_date_3 != null and m.due_date_3 != "null"  %}
                    <th scope="col">Due_Date_3</th>
                    <th scope="col">Due Date 3 Remarks</th>
                    {% endif %}
                    {% if m.due_date_4 != null and m.due_date_4 != "null"  %}
                    <th scope="col">Due_Date_4</th>
                    <th scope="col">Due Date 4 Remarks</th>
                    {% endif %}
                    {% if m.due_date_5 != null and m.due_date_5 != "null"  %}
                    <th scope="col">Due_Date_5</th>
                    <th scope="col">Due Date 5 Remarks</th>
                    {% endif %}
                </tr>
                {{ break }}
                {% endfor %}
                </thead>
                <tbody>
                {% for m in mfind %}
                <tr>
                    <th scope="col">{{m.id}}</th>
                    <th scope="col">{{m.regulator}}</th>
                    <th scope="col">{{m.financial_year}}</th>
                    <th scope="col">{{m.assessment_year}}</th>
                    <th scope="col">{{m.date_of_entry|date:'Y-m-d'}}</th>
                    <th scope="col">{{m.form_return}}</th>
                    <th scope="col">{{m.frequency}}</th>
                    <th scope="col">{{m.type_of_tax_payer}}</th>
                    <th scope="col">{{m.actual_due_date|date:'Y-m-d'}}</th>
                    <th scope="col">{{m.latest_due_date}}</th>
                    <th scope="col">{{m.Description}}</th>
                    {% if m.due_date_1 != null and m.due_date_1 != "null" %}
                    <th scope="col">{{m.due_date_1}}</th>
                    <th scope="col">{{m.due_date_1_remarks}}</th>
                    {% endif %}
                    {% if m.due_date_2 != null  and m.due_date_2 != "null" %}
                    <th scope="col">{{m.due_date_2}}</th>
                    <th scope="col">{{m.due_date_2_remarks}}</th>
                    {% endif %}
                    {% if m.due_date_3 != null and m.due_date_3 != "null" %}
                    <th scope="col">{{m.due_date_3}}</th>
                    <th scope="col">{{m.due_date_3_remarks}}</th>
                    {% endif %}
                    {% if m.due_date_4 != null  and m.due_date_4 != "null" %}
                    <th scope="col">{{m.due_date_4}}</th>
                    <th scope="col">{{m.due_date_4_remarks}}</th>
                    {% endif %}
                    {% if m.due_date_5 != null  and m.due_date_5 != "null" %}
                    <th scope="col">{{m.due_date_5}}</th>
                    <th scope="col">{{m.due_date_5_remarks}}</th>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% else %}
    <div class="h4 text-center mt-5">No Event Today!<div> 
{% endif %}
<div class="d-flex justify-content-center mt-5">
    <a href="{% url 'calendar' %}"><button class="btn btn-warning">Go back to Calendar</button></a>
</div>
</div>
{% endblock %}